.navegacion{
    background-color: #00000041;
}

body{
    background-image: url(https://cdn.wallpapersafari.com/17/26/IqGrbZ.jpg);
    background-position: center;
    background-size: cover;
}

.tablita{
    background-color: white;
}

footer{
    background-color:#00000041;
}